// ======================================================================================
// Base styles
// Styles that affect the entire application
// ======================================================================================

body {
  background-color: $bg-color !important;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}